.head {
    height: 150px;
    width: 1575px;
    background: url(Calisthenics.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.options {
    font-size: 20px;
    color: rgb(253, 187, 57);
    padding: 20px;
    display: flex;
    justify-content: right;
    text-decoration: none;
}


.top1 {
    display: flex;
    justify-content: space-between;
   margin-right: 5px;
   margin-left: -6px;
    text-align: center;
}

.top1 > div {
    margin: 2px;
    padding: 7px;
    color: black;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin: 2px;
}

.flexbox > div > img {
    height: 299px;
    width: 299px;
    display: flex;
}

.recent {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}

.Greg {
    display: flex;
    text-align: center;
    text-decoration: none;
}

.footer {
    background-color: black;
    color: aqua;
    padding: 20px;
    font-size: 25px;
}

