.head {
    height: 150px;
    width: 1575px;
    background: url(Calisthenics.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.options {
    font-size: 25px;
    color: tomato;
    padding: 10px;
    display: flex;
    align-items: right;
    justify-content: right;
    float: right;
}

footer {
    font-size: 29px;
    display: flex;
    align-items: right;
    justify-content: space-evenly;
    padding: 10px;
    margin: 15px;/
    
}
h3 {
    
    text-align: center;
    font-size: 25px;
    font-style: italic;
    background-color: rgb(196, 146, 38);
    text-transform: unset;
}

p {
    padding: 3px;
    margin: 5px;
    border: 10px solid black;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(189, 223, 18);


}

h5 {
    font-size: 15px;
    justify-content: center;
    text-align: center;
    
    
}

.gogo {
    font-size: 15px;
    justify-content: center;
    text-align: center;
    font-size: 20px;


}

* {
        
    text-align: center;
}

